.button-blue,
.button-orange,
.button-purple{
    display: block;
    width: calc(100% - 52px);
    height: 85px;
    background-color: #964E71;
    margin: 0 auto;
    border-radius: 50px;
    color: #F9F9F9;
    font-weight: bold;
    font-size: 28px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.button-orange{
    background-color: #F9A139;
    width: calc(100% - 145px);
}
.button-blue{
    background-color: #91C6E8;
}
.button-orange:hover{
    opacity: 0.8;
}
.button-blue:hover{
    background-color: #A1DAFF;
}
.button-purple{
    background-color: #964E71;
}
.button-purple:hover{
    background-color: #BB6E93;
}

.header__mobile-enroll{
    display: block;
    width: 190px;
    height: 70px;
    background-color: #F9A139;
    border-radius: 50px;
    color: #F9F9F9;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s;
}
.header__mobile-enroll:hover{
    background-color: #FBB76D;
}
.hero .button-orange{
    position: absolute;
    z-index: 10;
    bottom: 50px;
    width: calc(100% - 145px);
    max-width: 300px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    border-radius: 180px;
    box-shadow: 0 0 27px 0 rgba(249, 161, 57, 0);
    background: linear-gradient(180deg, #F9A139 0%, #FFBA69 100%);
    transition: all 0.3s;
}
.hero .button-orange:hover{
    box-shadow: 0px 10px 27px 0px rgba(249, 161, 57, 0.50);
}
.products .button-blue,
.products .button-orange,
.products .button-purple{
    width: 100%;
}

#scrollToTopBtn {
    opacity: 1;
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 40%;
    right: 30px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
