.offer{
    position: relative;
    padding: 0 15px;
}
.offer h2{
    margin-bottom: 20px;
}
.offer__descr{
    margin-bottom: 50px;
}
.offer__video{
    border-radius: 20px;
}

@media (min-width: 1140px) {
    .offer{
        max-width: 1280px;
        margin: 0 auto;
    }
    .offer__wrapper{
        width: 50% !important;
        padding: 0 50px 0 0;
    }
    .offer__video{
        width: 50%;
    }
    .offer{
        display: flex;
    }
}