.waves {
    width: 30%;
    height: 85px;
    overflow: hidden;
    position: absolute;
    top: 10%;
    right: -17%;
}
.waves__img {
    display: flex;
    animation: scrollImages 5s linear infinite;
}


.hero__abacus{
    position: absolute;
    right: -20%;
    bottom: -10%;
    width: 40%;
}

.hero__circle {
    position: absolute;
    bottom: -30px;
    left: -30px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__circle-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    animation: rotate 8s linear infinite;
}

.hero__red-shadow{
    position: absolute;
    top: -15%;
    right: -45%;
}
.hero__blue-shadow{
    position: absolute;
    bottom: -150px;
    left: -150px;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.offer__star {
    position: absolute;
    z-index: -1;
    top: -0px;
    right: -60px;
    width: 190px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out; /* Added transition property */
}

.offer__star-img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 1140px) {
    .offer__star {
        top: auto;
        bottom: -100px;
        left: -100px;
    }
}

.products__flower {
    position: absolute;
    z-index: 1;
    top: -170px;
    left: -50px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 8s linear infinite;
}

.products__flower-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

@media (min-width: 1140px) {
    .products__flower {
        top: -75px;
        left: -65px;
        z-index: 1;
    }
}

.faq__cube {
    position: absolute;
    top: -160px;
    right: -30px;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq__cube-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    animation: rotate 8s linear infinite;
}

@media (min-width: 1140px) {
    .faq__cube {
        top: 400px;
    }
}